*:after {
    box-sizing: inherit;
    margin: 0px 0px 0px 0px;
  }
  


  @media (min-width: 796px) {
 
    /*nav*/
  /*
   * Made by Erik Terwan
   * 24th of November 2015
   * MIT License
   *
   *
   * If you are thinking of using this in
   * production code, beware of the browser
   * prefixes.
   */
  
   body
   {
     margin: 0;
     padding: 0;
     
     /* make it look decent enough */
     
     color:white;
     font-family: "Avenir Next", "Avenir", sans-serif;
     
   }
   
   a
   {
     text-decoration: none;
     color:white;
     
     transition: color 0.3s ease;
   }
   a:active{
     color: wheat;
   }
   a:hover
   {
     color:black;
   }
   
   #menuToggle
   {
     display: block;
     position: fixed;
     top: 25px;
     left: 15px;
     background-attachment: fixed;
     z-index: 8;
     
     -webkit-user-select: none;
     user-select: none;
   }
   
   #menuToggle input
   {
     display: block;
     width: 40px;
     height: 32px;
     position: absolute;
     top: -7px;
     left: -5px;
     
     cursor: pointer;
     
     opacity: 0; /* hide this */
     z-index: 2; /* and place it over the hamburger */
     
     -webkit-touch-callout: none;
   }
   
   /*
    * Just a quick hamburger
    */
   #menuToggle span
   {
     display: block;
     width: 33px;
     height: 4px;
     margin-bottom: 5px;
     position: relative;
     
     background:white;
     border-radius: 3px;
     
     z-index: 1;
     
     transform-origin: 0px 0px;
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 opacity 0.55s ease;
   }
   
   #menuToggle span:first-child
   {
     transform-origin: 0% 0%;
   }
   
   #menuToggle span:nth-last-child(2)
   {
     transform-origin: 0% 100%;
   }
   
   /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
   #menuToggle input:checked ~ span
   {
     opacity: 1;
     transform: rotate(45deg) translate(-2px, -1px);
     background: #232323;
   }
   
   /*
    * But let's hide the middle one.
    */
   #menuToggle input:checked ~ span:nth-last-child(3)
   {
     opacity: 0;
     transform: rotate(0deg) scale(0.2, 0.2);
   }
   
   /*
    * Ohyeah and the last one should go the other direction
    */
   #menuToggle input:checked ~ span:nth-last-child(2)
   {
     transform: rotate(-45deg) translate(0, -1px);
   }
   
   /*
    * Make this absolute positioned
    * at the top left of the screen
    */
   #menu
   { 
     position: absolute;
     width: 200px;
     margin: -100px 0 0 -50px;
     padding: 50px;
     padding-top: 125px;
     
     background: #444444ab;
     list-style-type: none;
     -webkit-font-smoothing: antialiased;
     /* to stop flickering of text in safari */
     
     transform-origin: 0% 0%;
     transform: translate(-100%, 0);
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }
   
   #menu li
   {font-family:'Roboto Condensed', sans-serif;
     padding: 20px 0;
     font-size: 30px;
   }
   
   /*
    * And let's slide it in from the left
    */
   #menuToggle input:checked ~ ul
   {
     transform: none;
   }
  
  /*nav*/
  h1{ 
    text-align: center;
    background: rgba(0, 0, 0, 0.733);
    background-size: cover;
    font-family: 'Heebo', sans-serif;
    color: white;
  }
  h2{ 
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
   color: white;
  }
  p{ 
    margin: 1px 15px;
    
    font-family: 'Source Sans Pro', sans-serif;
   color: white;
  }
  .cabecera{
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: 1fr 100% 1fr 50%r;
    grid-template-areas: 
    ". . ."
    ". f ."
    ". . ."
    ". e ."
  }
  h1{
text-align: center;
  background: rgba(0, 0, 0, 0.733);
  background-size: 100%;
  width: 100%;
  height: 40px;
  font-family: 'Heebo', sans-serif;
  color: white;
  font-size: 30px;
  }
  .eco{
    transform:matrix(1,0,0,1,0,0);
    transition:transform 0.5s ease 0s;
    }
    
    .eco:hover{
    transform:matrix(1.4,-0.54,0.54,1.4,0,0);
    }
  .eco{
    
    text-align: center;
    grid-area: e;
    color: white;
    font-size: 200px;
    font-family:'Roboto Condensed', sans-serif;
  }
  .background{
    background-image: url(Imagenes/fondo.jpg);
    position: relative;
    background-attachment: fixed;
    background-size: cover;
  }
  
  
  .cabecera{
    background-color: rgba(255, 255, 255, 0.185);
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
   
   
  }
  .logo{
    transform:matrix(1,0,0,1,0,0);
    transition:transform 0.5s ease 0s;
    }
    
    .logo:hover{
    transform:matrix(1.4,-0.54,0.54,1.4,0,0);
    }
  
   .logo{
     
    grid-area: f;
    background-image: url(Imagenes/SVG/Recurso\ 2.svg);
   overflow: hidden;
    z-index: 3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1fr;
  
  }
  .menubar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "m m m"
  }
  .Menu{
   grid-area: m;
  }
  .contenido{
    gap: 20px;
    background-size: cover;
    display: grid;
    
    width: 100%;
    grid-template-columns: 100% ;
    grid-template-rows: 4rem 4rem ;
    margin: 0px 0px 0px 0px;
    grid-row-gap: 20px;
    grid-template-areas: 
    
    "."
    "c"
    "."
   
    ;
   
     z-index: 6;
  }
  .contacto{
    
      grid-area: c;
  }
  .foot{
    background:black;
    font-size: 15px;
    text-align: center;
  } 

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  width: 100vw;
  
  
}
/*form*/
.form {
  grid-area: f;
  max-width: 30%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: rgba(249, 249, 249, 0.164);
  padding: 25px;
  margin: 200px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
color:white;
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 1%;
}

#contact h4 {
  margin: 1% 0 12%;
  display: block;
  font-size: 12%;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  
  
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: rgba(67, 160, 72, 0.699);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}



#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/*form*/

/*mobile*/
  @media (min-width: 0px) and (max-width: 750px) {
    /*nav*/
  /*
   * Made by Erik Terwan
   * 24th of November 2015
   * MIT License
   *
   *
   * If you are thinking of using this in
   * production code, beware of the browser
   * prefixes.
   */
   @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
   .eco{
    
    text-align: center;
    grid-area: e;
    color: white;
    font-size: 50px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,  'Open Sans', 'Helvetica Neue', sans-serif
  }
   body
   {
     margin: 0;
     padding: 0;
     
     /* make it look decent enough */
    
     color:white;
     font-family: "Avenir Next", "Avenir", sans-serif;
     
   }
   
   a
   {
     text-decoration: none;
     color:white;
     
     transition: color 0.3s ease;
   }
   a:active{
     color: wheat;
   }
   a:hover
   {
     color:black;
   }
   
   #menuToggle
   {
     display: block;
     position: absolute;
     top: 25px;
     left: 15px;
     
     z-index: 8;
     
     -webkit-user-select: none;
     user-select: none;
   }
   
   #menuToggle input
   {
     display: block;
     width: 40px;
     height: 32px;
     position: absolute;
     top: -7px;
     left: -5px;
     
     cursor: pointer;
     
     opacity: 0; /* hide this */
     z-index: 2; /* and place it over the hamburger */
     
     -webkit-touch-callout: none;
   }
   
   /*
    * Just a quick hamburger
    */
   #menuToggle span
   {
     display: block;
     width: 33px;
     height: 4px;
     margin-bottom: 5px;
     position: relative;
     
     background:white;
     border-radius: 3px;
     
     z-index: 1;
     
     transform-origin: 0px 0px;
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 opacity 0.55s ease;
   }
   
   #menuToggle span:first-child
   {
     transform-origin: 0% 0%;
   }
   
   #menuToggle span:nth-last-child(2)
   {
     transform-origin: 0% 100%;
   }
   
   /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
   #menuToggle input:checked ~ span
   {
     opacity: 1;
     transform: rotate(45deg) translate(-2px, -1px);
     background: #232323;
   }
   
   /*
    * But let's hide the middle one.
    */
   #menuToggle input:checked ~ span:nth-last-child(3)
   {
     opacity: 0;
     transform: rotate(0deg) scale(0.2, 0.2);
   }
   
   /*
    * Ohyeah and the last one should go the other direction
    */
   #menuToggle input:checked ~ span:nth-last-child(2)
   {
     transform: rotate(-45deg) translate(0, -1px);
   }
   
   /*
    * Make this absolute positioned
    * at the top left of the screen
    */
   #menu
   { 
     position: absolute;
     width: 100px;
     margin: -100px 0 0 -50px;
     padding: 50px;
     padding-top: 125px;
     
     background: #444444ab;
     list-style-type: none;
     -webkit-font-smoothing: antialiased;
     /* to stop flickering of text in safari */
     
     transform-origin: 0% 0%;
     transform: translate(-100%, 0);
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }
   
   #menu li
   {
     padding: 20px 0;
     font-size: 30px;
   }
   
   /*
    * And let's slide it in from the left
    */
   #menuToggle input:checked ~ ul
   {
     transform: none;
   }
  