/* RESET */
html,body{
    width: 100%;
    height: 100%;
  }
  
*:after {
    box-sizing: inherit;
    margin: 0px 0px 0px 0px;
  }
  
  /* TÃTULO "EQUIPO" */
h1{ 
    text-align: center;
    background: rgba(0, 0, 0, 0.733);
    background-size: cover;
    font-family: 'Heebo', sans-serif;
    color: white;
  }

  /*LOGO*/ 
.logo{
    transform:matrix(1,0,0,1,0,0);
    transition:transform 0.5s ease 0s;
    }
    
.logo:hover{
    transform:matrix(1.4,-0.54,0.54,1.4,0,0);
    }
  
.logo{
     
    grid-area: f;
    background-image: url(imgsteam/Logo.svg);
   overflow: hidden;
    z-index: 3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1fr;
  }
   
  @media (min-width: 796px) {

  }
/* GENERAL */
body{
     margin: 0;
     padding: 0;
     color:white;
     font-family: "Avenir Next", "Avenir", sans-serif;
   }
   
   a
   {
     text-decoration: none;
     color:white;
     
     transition: color 0.3s ease;
   }
   a:active{
     color: wheat;
   }
   a:hover
   {
     color:black;
   }
   
   #menuToggle
   {
     display: block;
     position: fixed;
     top: 25px;
     left: 15px;
     background-attachment: fixed;
     z-index: 8;
     
     -webkit-user-select: none;
     user-select: none;
   }
   
   #menuToggle input
   {
     display: block;
     width: 40px;
     height: 32px;
     position: absolute;
     top: -7px;
     left: -5px;
     
     cursor: pointer;
     
     opacity: 0; /* hide this */
     z-index: 2; /* and place it over the hamburger */
     
   }
   
   /*
    * Just a quick hamburger
    */
   #menuToggle span
   {
     display: block;
     width: 33px;
     height: 4px;
     margin-bottom: 5px;
     position: relative;
     
     background:white;
     border-radius: 3px;
     
     z-index: 1;
     
     transform-origin: 0px 0px;
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
                 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
                 opacity 0.55s ease;
   }
   
   #menuToggle span:first-child
   {
     transform-origin: 0% 0%;
   }
   
   #menuToggle span:nth-last-child(2)
   {
     transform-origin: 0% 100%;
   }
   
   /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
   #menuToggle input:checked ~ span
   {
     opacity: 1;
     transform: rotate(45deg) translate(-2px, -1px);
     background: #232323;
   }
   
   /*
    * But let's hide the middle one.
    */
   #menuToggle input:checked ~ span:nth-last-child(3)
   {
     opacity: 0;
     transform: rotate(0deg) scale(0.2, 0.2);
   }

   #menuToggle input:checked ~ span:nth-last-child(2)
   {
     transform: rotate(-45deg) translate(0, -1px);
   }
   
   /*
    * Make this absolute positioned
    * at the top left of the screen
    */
   #menu
   { 
     position: absolute;
     width: 100px;
     margin: -100px 0 0 -50px;
     padding: 50px;
     padding-top: 125px;
     
     background: #444444ab;
     list-style-type: none;
     -webkit-font-smoothing: antialiased;
     /* to stop flickering of text in safari */
     
     transform-origin: 0% 0%;
     transform: translate(-100%, 0);
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }
   
   #menu li
   {font-family:'Roboto Condensed', sans-serif;
     padding: 20px 0;
     font-size: 30px;
   }
   
   /*
    * And let's slide it in from the left
    */
   #menuToggle input:checked ~ ul {
     transform: none;
   }
  
  /*nav*/
  
.cabecera{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100fr 300px 1fr 100fr;
    grid-template-areas: 
    ". . ."
    ". f ."
    ". e ."
    ". . ."
  }
  
h1{
    font-size: 50px;
  }
.eco{
    transform:matrix(1,0,0,1,0,0);
    transition: transform 0.5s ease 0s;
    }
    
.eco:hover{
    transform:matrix(1.4,-0.54,0.54,1.4,0,0);
    }
  .eco{
    
    text-align: center;
    grid-area: e;
    color: white;
    font-size: 200px;
    font-family:'Roboto Condensed', sans-serif;
  }
  .background{
    background-image: url(imgsteam/fondo.jpg);
    position: relative;
    background-attachment: fixed;
    background-size: cover;
  }
  
  
  .cabecera{
    background-color: rgba(255, 255, 255, 0.185);
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  .menubar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "m m m"
  }
  .Menu{
   grid-area: m;
  }


nav#home img{
    margin: 1%;
    width: 2%;
}


nav.personas img{
    width: 6%;
    display: inline-flex;
} 

div.secciones{
    color: black;
}










/* GALLERY */
:root{
	--width: 100%;
	--height: 100%;
	--border-width: 200px;
	--border-height: 200px;
  
  }
  
  div.gallery{
	position: relative;
	height:100%;
	width:100%;
	left: 11%;

  }
  
  .gallery:after{
	content:'';
  }

  
  img{
	width:var(--width);
	height:var(--height);
  }

  div h3{
	position: absolute;
	z-index: 2;
	bottom: 5%;
	left: 20%;
	font-size: 1em;
	text-align: center;
	color: white;

  }

  div a h3#rafa{
   	justify-content: center;
	align-items: center;
	vertical-align: middle;
	line-height: 10px;
	bottom: 5%;
  }

  div a h3#pierre{
  padding: left 20px;
  margin: 0px 0px 0px 20px;
  line-height: 10px;
}

div a h3#jesula{
	padding: left 20px;
	margin: 0px 0px 1px 50px;
	line-height: 10px;
}

div a h3#travis{
	padding: left 20px;
	margin: 0px 0px 1px 17px;
	line-height: 10px;
	bottom: 10%;
}

div a h3#vikram{
	padding: left 20px;
	margin: 0px 0px 1px 13px;
	line-height: 10px;
	bottom: 10%;
}

div a h3#robert{
	padding: left 20px;
	margin: 0px 0px 1px 39px;
	line-height: 10px;
}

div a h3#ayesha{
	padding: left 20px;
	margin: 0px 0px 1px 46px;
	line-height: 10px;
}
  
  .clipped-border{
	-webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
	 clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
	 padding:0;
	 background:linear-gradient(#6D871B,lightgrey);
	 width:var(--border-width);
	 height:var(--border-height);
	 max-height:250px;
	 max-width:250px;
	 height: 60vh;
	 width: 60vw;
	 transition:transform 0.2s;
	 position:absolute;
	 cursor:pointer;
	 align-items: center;
  }
  
  .clipped-border:before{
	content:'';
	position:absolute;
	opacity:0.5;
	width:350px;
	height:70px;
	background:white;
	top:0;
	left:0;
	z-index:1;
	transform:rotate(45deg);
	transition:transform 0.5s;
  }
  
  .clipped-border:hover:before{
	transform: translate(-100px,400%) rotate(45deg);
	transition:transform 0.5s;
  }
  
  .clipped-border:nth-child(2){
	top:196px;
	left:118px;
	background:linear-gradient(#236C81,lightgrey);
  }
  
  .clipped-border:nth-child(3){
	top:0;
	left:235px;
	background:linear-gradient(#236C81,lightgrey);
  }
  
  .clipped-border:nth-child(4){
	top:196px;
	left:353px;
	
  }
  
  .clipped-border:nth-child(5){
	top:0;
	left:470px;
  }

  .clipped-border:nth-child(6){
	top:196px;
	left:588px;
	background:linear-gradient(#236C81,lightgrey);
  }
  
  .clipped-border:nth-child(7){
	top:0;
	left:705px;
	background:linear-gradient(#236C81,lightgrey);
  }
  
  .clipped {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  
  }
  
  .clipped-border:hover{
	transform:scale(1.2);
	transition:transform 0.2s;
	z-index:10;
  }
  
  
  @media screen and (max-width:500px){
	.clipped-border{
	  width:100px;
	  height:100px;
	}
	
	.clipped-border:nth-child(2){
	  top:0;
	  left:100px;
	}
	
	.clipped-border:nth-child(3){
	  left:200px;
	}
	
	.clipped-border:nth-child(4){
	  top:82px;
	  left:50px;
	}
	
	.clipped-border:nth-child(5){
	  top:82px;
	  left:150px;
	}

	.clipped-border:nth-child(6){
		top:164px;
		left:100px;
	  }
	  .clipped-border:nth-child(7){
		top:164px;
		left:200px;
	  }
  }
















/* TRANSITION */

/* a {
	color: #f0f0f0;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}

a:hover {
	color: #fff;
}

.container { height: 100%; }

.bl-main {
  position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bl-main > section {
  position: absolute;
	width: 50%;
	height: 50%;
}

.bl-main > section:first-child {
	top: 0;
	left: 0;
	background: #6f89a5;
}

.bl-main > section:nth-child(2) {
	top: 0;
	left: 50%;
	background: #6f89a5;
}

.bl-main > section:nth-child(3) {
	top: 50%;
	left: 0;
	background: #6f89a5;
}

.bl-main > section:nth-child(4) {
	top: 50%;
	left: 50%;
	background: #6f89a5;
}

.bl-main > section:nth-child(5) {
	top: 100%;
	left: 0%;
	background: #6f89a5;
}

.bl-main > section:nth-child(6) {
	top: 100%;
	left: 50%;
	background: #6f89a5;
}

.bl-main > section:nth-child(7) {
	top: 150%;
	left: 0%;
	background: #6f89a5;
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
    /* display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl-box h2 {
	text-align: center;
	margin: 0;
	padding: 10px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}

.bl-icon {
	font-family: 'icomoon'; */
	/* speak: none; */
	/* font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.bl-icon:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}

.bl-icon-about:before {
	content: "\e000";
}

.bl-icon-works:before {
	content: "\e001";
}

.bl-icon-blog:before {
	content: "\e002";
}

.bl-icon-contact:before {
	content: "\e003";
}

.bl-main > section .bl-icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.bl-icon-close:before {
	content: "\e005";
}

.bl-content, 
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
}

/* Custom content */

/* .bl-content p {
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 1.7em;
	line-height: 1.8;
}

.bl-content h2 {
	font-size: 3em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

.bl-content article {
	padding: 20px 40px 20px 0px;
}

.bl-content article h3 {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding-top: 20px;
	font-size: 1.4em;
}

.bl-content article a {
	color: rgba(0,0,0,0.2);
}

.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
} 

.bl-content > ul li {
	display: inline-block;
	width: 20%;
	margin: 1%;
}

.bl-content > ul li a {
	display: block;
	padding: 0;
	border: 8px solid rgba(0,0,0,0.1);
}

.bl-content > ul li a img {
	display: block;
	max-width: 100%;
} */ 

/* Panel Items */

/* div.bl-panel-items,
div.bl-panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div {
	width: 60%;
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	top: 90px;
	pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
	font-size: 1.3em;
}

div.bl-panel-items > div > div img {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}

div.bl-panel-items {
	top: 100%;
	z-index: 9999;
}

div.bl-panel-items > div {
	background: #3ba5db;
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

div.bl-panel-items nav {
	position: absolute;
	z-index: 9999;
	width: 216px;
	left: 50%;
	top: 0px;
	margin-left: -108px;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
	float: left;
	margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
	font-weight: 700;
	letter-spacing: 2px;
	display: block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -70px;
}

div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
} */

/* Transition classes and properties */
/* Separated for a better overview and control */

/* .bl-main > section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	background: #EE4444;
}
.bl-main > section:nth-child(2).bl-expand {
	background: #F98262;
}
.bl-main > section:nth-child(3).bl-expand {
	background: #4BBE8E;
}
.bl-main > section:nth-child(4).bl-expand {
	background: #0D8278;
}
.bl-main > section:nth-child(5).bl-expand {
	background: #F98262;
}
.bl-main > section:nth-child(6).bl-expand {
	background: #4BBE8E;
}
.bl-main > section:nth-child().bl-expand {
	background: #0D8278;
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.bl-box h2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

img.persona1 {
	text-align: center;
	width: 30%;

}

img.persona2 {
  text-align: center;
	width: 37%;
}


.bl-content,
.bl-icon-close {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
	.bl-content,
	.bl-box {
		font-size: 75%;
	}

	.bl-expand .bl-box {
		height: 130px;
	}

	.bl-content > ul li {
		width: 40%;
	}
} */